*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.container {
  background-color: #2d98da;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  width: 100%;
  height: 400px;
  max-width: 960px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 32px;
}

.plan {
  padding: 36px;
  flex-grow: 1;
  flex-basis: 0;
  border-right:1px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.plan:hover {
  background-color: rgba(165, 177, 194, 0.1);
  cursor: pointer;
}

.plan__title {
  text-transform: uppercase;
  color: rgba(75, 123, 236,1.0);
  font-size: 24px;
  margin: 36px 0 8px 0;
}

.plan__img {
  height: 100px;
  width: 100px;
}

.plan__description {
  margin: 12px 0;
  line-height: 1.5;
  font-size: 14px;
  color: rgba(165, 177, 194, 1);
  margin-bottom: 16px;
}

.plan__price {
  color: rgba(75, 123, 236,1.0);
  font-size: 24px;
}

.plan__price sub, .plan__price sup {
  font-size: 12px;
}